doctype html
html

  head
    title rosen-kreutz.net
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='static/css/style.css')
    
  body
    #haiku: img(src='static/img/haiku.png', alt="Io solo c'ero. / Io, solo. E fioccava / intorno la neve. - Kobayashi Issa")
